<div class="container">
  <div class="row text-center">
    <div class="btn-group" role="group">
      <%= link_to "Back to clients", user_clients_path(current_user), class: "btn btn-default" %>
      <%= link_to "Edit client", edit_user_client_path(current_user, @client), class: "btn btn-default" %>
    </div>
  </div>
  <div class="jumbotron">
    <div class="page-header">
      <i>Client:</i>
      <h1><%= @client.full_name %></h1>
      <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= mail_to @client.email %></p>
      <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= tel_to @client.phone %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <h3 class="text-center">Statistics</h3>
        <hr />
        <h4>Earnings</h4>
        <%= line_chart @earnings %>

        <h4>Expenses</h4>
        <%= line_chart @expenses %>
      </div>
    </div>
  </div>
</div>
