<div class="container">
  <div class="row text-center">
    <div class="btn-group" role="group">
      <%= link_to "Back to projects", projects_path, class: "btn btn-default" %>
      <%= link_to "Add new client", new_user_client_path(current_user), class: "btn btn-default" %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="well">
        <% if @project.new_record? %>
          <h1>New Project</h1>
        <% else %>
          <h1>Edit Project</h1>
        <% end %>
        <hr>
        <%= bootstrap_form_for(@project) do |f| %>
          <% if @project.new_record? %>
            <%= f.select :client_id, user_clients, { class: "selectpicker" }, label_class: "required" %>
          <% end %>
          <%= f.text_field :name, label_class: "required" %>
          <%= f.text_area :description, class: "tinymce", rows: 10, cols: 12 %>
          <%= f.text_field :set_due_date, class: 'datepicker', label_class: "required", value: @project.set_due_date %>
          <% if @project.new_record? %>
            <%= f.select :set_status, project_stauses, { class: "selectpicker" }, label_class: "required" %>
          <% else %>
            <%= f.select :set_status, project_stauses, { class: "selectpicker", selected: @project.status.humanize }, label_class: "required" %>
          <% end %>
          <%= f.number_field :estimated_amount, prepend: "#{current_user.currency}", step: :any %>
          <%= f.number_field :earned, prepend: "#{current_user.currency}", step: :any  %>
          <%= f.submit (@project.new_record? ? "Add new project" : "Update project")%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= tinymce %>